__pycache__/
**/__pycache__/
*.pyc
.ipynb_checkpoints/
*/.ipynb_checkpoints/
.vscode/
.DS_Store

Dataset_MRL/
Dataset_MRL_SPLIT/
Dataset_nthuddd2/
Dataset_nthuddd2_eye_SPLIT/
Dataset_nthuddd2_SPLIT/
Dataset_Uji/

features_nthuddd2/
sequences_nthuddd2/
Vidio_To_Frame/

lstm_models_nthuddd2/
lstm_models_nthuddd2_coba1/
lstm_models_nthuddd2_coba2/
models_saved_data_MRL/
Percobaan_Model_Swin/
tuning_results_nthuddd2/
tuning_results_nthuddd2_copy/
tuning_results_nthuddd2_percobaan_1/
tuning_results_nthuddd2_percobaan_2/
tuning_results_nthuddd2_percobaan_3/
tuning_results_nthuddd2_Test1/
tuning_results_nthuddd2_Test2/

*.pth
*.h5
*.pkl
*.npy
*.mp4
*.zip
*.rar